<!-- Build & Quality Status -->
{{?HAS_ACTIONS_WORKFLOW}}[![GitHub Actions](https://github.com/{{SLUG}}/actions/workflows/{{ACTIONS_WORKFLOW_FILE}}/badge.svg?branch={{DEFAULT_BRANCH}})](https://github.com/{{SLUG}}/actions/workflows/{{ACTIONS_WORKFLOW_FILE}})

<!-- License & Legal -->
{{?HAS_LICENSE}}[![License](https://img.shields.io/badge/license-see%20file-yellow.svg)](https://github.com/{{SLUG}}/blob/{{DEFAULT_BRANCH}}/LICENSE)

<!-- Repository Metrics -->
{{?HAS_LOC_BADGE}}[![Lines of code](https://raw.githubusercontent.com/{{SLUG}}/{{DEFAULT_BRANCH}}/.github/badges/loc-total.svg)](https://github.com/{{SLUG}})
{{?HAS_LOC_BADGE}}[![Languages by lines of code](https://raw.githubusercontent.com/{{SLUG}}/{{DEFAULT_BRANCH}}/.github/badges/loc-languages.svg)](https://github.com/{{SLUG}})

<!-- Project Links -->
[![GitHub repository](https://img.shields.io/badge/github-repository-181717.svg?logo=github)](https://github.com/{{SLUG}})
